*{
    box-sizing: border-box;
}

a, a:hover, button, button:hover, .anime{
    transition: a 200ms linear;
    cursor: pointer;
}

.main_flex{display:flex;display:-webkit-flex;-webkit-flex-flow:row wrap;flex-flow:row wrap}
.main_flex__nowrap{display:flex;display:-webkit-flex;-webkit-flex-flow:row nowrap;flex-flow:row nowrap}
.flex__jcontent_between{justify-content:space-between;-webkit-justify-content:space-between}
.flex__jcontent_start{justify-content:flex-start;-webkit-justify-content:flex-start}
.flex__jcontent_end{justify-content:flex-end;-webkit-justify-content:flex-end}
.flex__jcontent_center{justify-content:center;-webkit-justify-content:center}
.flex__jcontent_around{justify-content:space-around;-webkit-justify-content:space-around}
.flex__auto{flex:auto;-webkit-flex:auto;-ms-flex:auto}
.flex__align-items_start{align-items:flex-start;-webkit-align-items:flex-start}
.flex__align-items_end{align-items:flex-end;-webkit-align-items:flex-end}
.flex__align-items_baseline{align-items:baseline;-webkit-align-items:baseline}
.flex__align-items_stretch{align-items:stretch;-webkit-align-items:stretch}
.flex__align-items_center{align-items:center;-webkit-align-items:center}
.flex__align-content_flex-start{align-content:flex-start;-webkit-align-content:flex-start}
.flex__align-content_flex-end{align-content:flex-end;-webkit-align-content:flex-end}
.flex__align-content_space-between{align-content:space-between;-webkit-align-content:space-between}
.flex__align-content_center{align-content:center;-webkit-align-content:center}
.flex__align-content_space-around{align-content:space-around;-webkit-align-content:space-around}
.flex__align-content_stretch{align-content:stretch;-webkit-align-content:stretch}
.flex__flex-grow_01{flex-grow:1;-webkit-flex-grow:1}
.flex__flex-grow_02{flex-grow:2;-webkit-flex-grow:2}
.flex__flex-grow_03{flex-grow:3;-webkit-flex-grow:3}
.flex__flex-grow_04{flex-grow:4;-webkit-flex-grow:4}
.w5{width:5%;max-width:5%}.w10{width:10%;max-width:10%}
.w15{width:15%;max-width:15%}.w20{width:20%;max-width:20%}
.w25{width:25%;max-width:25%}.w30{width:30%;max-width:30%}
.w35{width:35%;max-width:35%}.w40{width:40%;max-width:40%}
.w45{width:45%;max-width:45%}.w50{width:50%;max-width:50%}
.w55{width:55%;max-width:55%}.w60{width:30%;max-width:60%}
.w65{width:65%;max-width:65%}.w70{width:70%;max-width:70%}
.w75{width:75%;max-width:75%}.w80{width:80%;max-width:80%}
.w85{width:85%;max-width:85%}.w90{width:90%;max-width:90%}
.w95{width:95%;max-width:95%}.w100{width:100%;max-width:100%}
.main_flex__nowrap_reverse {display:flex;display:-webkit-flex;-webkit-flex-flow:row-reverse nowrap;flex-flow:row-reverse nowrap}

body{
    font-family: Segoe, "Segoe UI", "DejaVu Sans",
        "Trebuchet MS", Verdana, "sens-serif";
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100vh;
    width: 15.62vw;
    background-color: #242b2e;
    color: #6b7072;
    box-shadow: 8px 0px 140px 0px #848484;
    flex-direction: column;
    flex-flow: column nowrap;
    display: flex;
}

#logo{
    width: 100%;
    height: 11.57vh;
    background: #fff;
}

#main_nav a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.93vmax;
    line-height: 1.66vmax;
    height: 3.22vmax;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    background-color: #2f373b;
    background: linear-gradient(top, #333b3f -1%, #333b3f 0%, #2e363a 100%);
    background: linear-gradient(to bottom, #333b3f -1%, #333b3f 0%, #2e363a 100%);
    padding-right: 1.3vmax; 
}

#main_nav a:hover{
    background: linear-gradient(top, #31bcba 0%, #18a3a1 100%);
    background: linear-gradient(to bottom, #31bcba 0%, #18a3a1 100%);
}

#main_nav li{
    list-style-type: none;
}

#title_filter{
    color: #1ab5b3;
    font-size: 0.98vmax;
    padding: 1.25vmax;
}

#filter img{
    height: 1vmax;
    width: 1vmax;
    margin-left: 0.62vmax;
    fill: #1ab5b3;
}

#filter li{
    list-style: none;
    width: 100%;
    text-align: right;
}

#filter a{
    font-size: 0.67vmax;
    line-height: 1.25vmax;
    text-align: right;
    padding: 0.41vmax 1.25vmax;
    text-decoration: none;
    color: #616669;
}

#filter a.active{
    color: #fff;
    
}

#filter a:hover{
    color: #fff;
}

#soc_bar{
    border-top: 1px solid #1e282b;
    font-size: 1.25vmax;
    padding: 1.25vmax;
    width: 100%;
    margin-top: 1.25vmax;
}

#soc_bar a{
    margin-left: 0.52vmax;
    color: #fff;
}

#soc_bar a:hover{
    transform: scale(.9);
}

#cop{
    text-align: right;
    width: 100%;
    color: #6b7072;
    text-align: center;
}

main{
    min-height: 100vh;
    width: 100%;
    padding-left: 15.62vw;
}

.work_box{
    height: 16.19vw;
    max-width: 21.09vw;
    width: 25%;
    position: relative;
    overflow: hidden;
}

.work_box img{
    /*width: 100%;*/
    width: calc(100% + 5vw);
    height: auto;
    position: absolute;
    z-index: 1; 
}

.work_box a{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: inherit;
    background-color: rgba(45, 184, 185, .9); 
    color: #fff;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;

}

.work_box a:hover{
    opacity: 1;
}

.arrow{
    height: 3vw;
    width: 3vw;
}

.work_box h2{
    font-size: 1.25vw;
    font-weight: 400;
    margin-bottom: 0.78vw;
}

.work_box h3{
    font-size: 0.62vw;
    font-weight: 400;
}

.work_box h3:after{
    content: '';
    display: block;
    margin: 1vw auto;
    height: 1px;
    width: 50%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: #fff;   
}

#info{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    height: 4.68vw;
    width: 4.68vw;
    background-color: rgba(45, 184, 185, 0.9);
    fill: #fff;
    padding: 0.78vw;
    cursor: pointer;
}
